# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest cache & reports
.pytest_cache/
htmlcov/
report.html

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
